<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    Hello, <br><br>
    We have received a report from {{ reported_by_username }}. Please find the details below:<br><br>
    <b>Video Title(ID)/ Username (ID):</b> {{ video_title }} ({{ video_id }}) <br>
    <b>Report Type:</b> {{ report_type }} <br>
    <b>Reported By:</b> {{ reported_by_name }} <br>
    <b>Contact Number of video owner:</b> {{ target_mobile }} ({{ target_email }}) <br>
    Thanks,<br>
    Team BoloIndya
</body>
</html>

